@use 'sass:meta';
@use 'sass:map';
@use '../tokens/tokens' as tokens;

$COLORS: (
  TOKENS: meta.module-variables('tokens'),
  MAX_SHADES: 5,
) !default;

@layer utilities {
  @each $name, $color in meta.module-variables('tokens') {
    @if meta.type-of($color) == color {
      $types: (
        'text': 'color',
        'background': 'background-color',
        'border': 'border-color',
      );

      @each $type, $property in $types {
        .#{$type}-#{$name} {
          #{$property}: #{map.get(map.get($COLORS, TOKENS), $name)};
        }
      }
    }
  }
}

@layer theme {
  // TODO: Filter out component color properties
  :root {
    @each $name, $color in meta.module-variables('tokens') {
      @if meta.type-of($color) == color {
        --#{$name}: #{$color};
      }
    }
  }
}
