@use 'sass:meta';
@use 'sass:string';
@use '../tokens/tokens' as tokens;

:root {
  @layer theme {
    @each $spacer, $value in meta.module-variables('tokens') {
      $string: meta.inspect($spacer);

      @if string.index(meta.inspect($string), 'spacer') == 2 {
        --#{$spacer}: #{$value};
      }
    }
  }
}

@layer utilities {
  @each $spacer, $value in meta.module-variables('tokens') {
    $string: meta.inspect($spacer);

    @if string.index(meta.inspect($string), 'spacer') == 2 {
      $types: (
        'p': 'padding',
        'm': 'margin',
      );

      @each $prefix, $typeProperty in $types {
        .#{$prefix}-#{$spacer} {
          #{$typeProperty}: var(--#{$spacer});
        }

        $directions: (
          'x': 'inline',
          'y': 'block',
          'x-start': 'inline-start',
          'x-end': 'inline-end',
          'y-start': 'block-start',
          'y-end': 'block-end',
        );

        @each $direction, $property in $directions {
          .#{$prefix}#{$direction}-#{$spacer} {
            #{$typeProperty}-#{$property}: var(--#{$spacer});
          }
        }
      }
    }
  }
}
