@layer components {
  @layer rules, modifiers, states, themes;

  :has(> details.accordion) {
    container-name: --accordion;
  }

  details.accordion {
    --_header-padding-x: var(
      --accordion-header-padding-inline,
      var(--spacer-xs)
    );
    --_header-padding-y: var(
      --accordion-header-padding-block,
      var(--spacer-xs)
    );
    --_header-background-color: var(
      --accordion-header-background-color,
      var(--grayscale-lighter)
    );
    --_header-text-color: var(--accordion-header-text-color, var(--color-base));

    --_content-padding-x: var(
      --accordion-content-padding-inline,
      var(--spacer-xs)
    );
    --_content-padding-y: var(
      --accordion-content-padding-block,
      var(--spacer-xs)
    );

    --_background-color: var(
      --accordion-background-color,
      var(--grayscale-lighter)
    );
    --_text-color: var(--accordion-text-color, var(--color-base));
    --_flow-space: var(--accordion-flow-space, var(--spacer-xs));

    @layer rules {
      background-color: var(--_background-color);
      color: var(--_text-color);

      summary {
        background-color: var(--_header-background-color);
        color: var(--_header-text-color);
        padding-inline: var(--_header-padding-x);
        padding-block: var(--_header-padding-y);
        transition: background 0.2s ease;
      }

      > *:not(summary) {
        padding-block-start: var(--_flow-space);
        padding-inline: var(--_content-padding-x);

        &:last-child {
          padding-block-end: var(--_flow-space);
        }
      }
    }

    @layer states {
      &:hover,
      &[open] {
        --accordion-header-background-color: var(--grayscale-light);
      }
    }

    @layer themes {
      @media (prefers-color-scheme: dark) {
        --accordion-header-background-color: var(--grayscale-dark);
        --accordion-header-text-color: var(--grayscale-white);
        --accordion-background-color: var(--grayscale-dark);
        --accordion-text-color: var(--grayscale-white);

        &[open],
        &:hover {
          --accordion-header-background-color: var(--grayscale-black);
        }
      }
    }
  }
}
