@layer components {
  *:has(> .card) {
    --container-name: card;
  }

  .card {
    --_background-color: var(--card-background-color, transparent);
    --_border-color: var(--card-border-color, var(--grayscale-light));
    --_border-style: var(--card-border-style, solid);
    --_border-width: var(--card-border-width, 1px);
    --_margin-x: var(--card-margin-inline, var(--spacer-xs));
    --_flow-space: var(--card-flow-space, var(--spacer-xs));

    @layer rules {
      display: grid;
      background-color: var(--_background-color);
      border: var(--_border-width) var(--_border-color) var(--_border-style);

      *:not(figure, img) {
        margin-inline: var(--_margin-x);
        margin-block-start: var(--_flow-space);

        &:last-child {
          margin-block-end: var(--_flow-space);
        }

        figure,
        img {
          margin: var(--spacer-none);
          padding: var(--space-none);
          width: 100%;
          height: auto;
        }

        figure {
          > img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }

    @layer states {
      // !NOTE: Example container query!
      @supports (container-type: inline-size) {
        @container card (max-width: 20rem) {
          --card-border-style: dashed;
          --card-border-width: 4px;
        }
      }
    }
  }
}
