@use '../tokens/tokens';

@layer components {
  .card {
    --_background-color: var(--card-background-color, #{tokens.$card-background-color});
    --_border-color: var(--card-border-color, #{tokens.$card-border-color});
    --_border-style: var(--card-border-style, #{tokens.$card-border-style});
    --_border-width: var(--card-border-width, #{tokens.$card-border-width});
    --_margin-inline: var(--card-content-margin-inline, #{tokens.$card-content-margin-inline});
    --_flow-space: var(--card-flow-space, #{tokens.$card-flow-space});

    @layer rules {
      display: grid;
      align-content: start;
      background-color: var(--_background-color);
      border: var(--_border-width) var(--_border-color) var(--_border-style);

      > *:not(figure, img) {
        margin-inline: var(--_margin-inline);
        margin-block-start: var(--_flow-space);

        &:last-child {
          margin-block-end: var(--_flow-space);
        }

        figure,
        img {
          margin: none;
          padding: none;
          width: 100%;
          height: auto;
        }

        figure {
          > img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
