@use '../tokens/tokens';

@layer components {
  .drawer {
    --_background-color: var(--drawer-background-color, #{tokens.$drawer-background-color});
    --_text-color: var(--drawer-text-color, #{tokens.$drawer-text-color});
    --_padding-inline: var(--drawer-padding-inline, #{tokens.$drawer-padding-inline});
    --_padding-block: var(--drawer-padding-block, #{tokens.$drawer-padding-block});
    --_width: var(--drawer-max-width, #{tokens.$drawer-width});
    --_transition: var(--drawer-transition, #{tokens.$drawer-transition});
    --_flow-space: var(--drawer-flow-space, #{tokens.$drawer-flow-space});
    --_shadow: var(--drawer-shadow, #{tokens.$drawer-shadow});
    --_border: var(--drawer-border, #{tokens.$drawer-border});

    @layer rules {
      background: var(--_background-color);
      border: var(--_border);
      color: var(--_text-color);
      height: 100vh;
      height: 100dvh;
      display: block;
      inset-block-start: 0;
      inset-inline-start: 0;
      inset-block-end: 0;
      margin: none;
      padding-block: var(--_padding-block);
      padding-inline: var(--_padding-inline);
      position: fixed;
      transform: translateX(-100%);
      transition: transform var(--_transition);
      width: min(100%, var(--_width));
      z-index: 10;

      > * + * {
        margin-block-start: var(--_flow-space);
      }
    }

    @layer states {
      &.open,
      &:popover-open {
        transform: translateX(0);
        box-shadow: var(--_shadow);
      }
    }
  }
}
