$STATES: ("default", "info", "warning", "success", "error") !default;

@layer components {
  :has(> .message) {
    container-name: message;
  }

  .message {
    --_color: var(--message-color, var(--message-default-darken-300));
    --_background-color: var(
      --message-background-color,
      var(--message-default)
    );
    --_padding-x: var(--message-padding-inline, var(--spacer-2xs));
    --_padding-y: var(--message-padding-block, var(--spacer-xs));
    --_border-color: var(--message-border-color, var(--message-default));
    --_border-width: var(--message-border-width, 5px);
    --_border-style: var(--message-border-style, solid);

    @layer rules {
      color: var(--_color);
      background: color-mix(
        in lab,
        var(--_background-color),
        var(--grayscale-white) 80%
      );
      padding-inline: var(--_padding-x);
      padding-block: var(--_padding-y);
      border-left: var(--_border-width) var(--_border-color)
        var(--_border-style);
    }

    @layer states {
      @each $state in $STATES {
        &.#{$state} {
          --message-color: var(--message-#{$state});
          --message-background-color: var(--message-#{$state});
          --message-border-color: var(--message-#{$state});
        }
      }
    }
  }
}
