@use '../tokens/tokens';

@layer components {
  .modal {
    --_backdrop-background-color: var(--modal-backdrop-background-color, #{tokens.$modal-backdrop-background-color});
    --_background-color: var(--modal-background-color, #{tokens.$modal-background-color});
    --_border-width: var(--modal-border-width, #{tokens.$modal-border-width});
    --_border-color: var(--modal-border-color, #{tokens.$modal-border-width});
    --_border-style: var(--modal-border-style, #{tokens.$modal-border-style});
    --_flow-space: var(--modal-flow-space, #{tokens.$modal-flow-space});
    --_padding-inline: var(--modal-padding-inline, #{tokens.$modal-padding-inline});
    --_padding-block: var(--modal-padding-block, #{tokens.$modal-padding-block});
    --_max-height: var(--modal-max-height, #{tokens.$modal-max-height});
    --_max-width: var(--modal-max-width, #{tokens.$modal-max-width});
    --_shadow: var(--modal-shadow, #{tokens.$modal-shadow});
    --_text-color: var(--modal-text-color, #{tokens.$modal-text-color});
    --_margin-inline: var(--modal-margin-inline, #{tokens.$modal-margin-inline});
    --_margin-block: var(--modal-margin-block, #{tokens.$modal-margin-block});

    @layer rules {
      background-color: var(--_background-color);
      border: var(--_border-width) var(--_border-color) var(--border-style);
      box-shadow: var(--_shadow);
      color: var(--_text-color);
      height: var(--_max-height);
      padding-block: var(--_padding-block);
      padding-inline: var(--_padding-inline);
      margin-block: var(--_margin-inline);
      margin-inline: var(--_margin-block);
      transition: opacity, transform;
      width: min(100% - var(--spacer-xs), var(--_max-width));
      z-index: 10;

      > * + * {
        margin-block-start: var(--_flow-space);
      }

      .modal-inner {
        > * + * {
          margin-block-start: var(--_flow-space);
        }
      }

      &:not(dialog) {
        color: var(--_text-color);
        display: none;
        height: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        place-content: center;
        position: fixed;
        width: 100%;

        .modal-inner {
          background-color: var(--_background-color);
          height: var(--_max-height);
          margin: var(--_max-width);
          padding-block: var(--_padding-block);
          padding-inline: var(--_padding-inline);
          width: var(--_max-width);
        }
      }

      &::backdrop {
        --_backdrop-background-color: var(--modal-backdrop-background-color, rgba(0, 0, 0, 0.5));

        background-color: var(--_backdrop-background-color);
      }
    }

    @layer modifiers {
      &.fullscreen {
        --modal-max-height: 100%;
        --modal-max-width: 100%;
      }
    }

    @layer states {
      &:not(dialog) {
        &.open {
          display: grid;
          background-color: var(--_backdrop-background-color);
        }
      }
    }
  }
}
