@use 'sass:meta';
@use 'sass:map';
@use '../tokens/tokens';

$TOKENS: meta.module-variables('tokens');

@layer components {
  body.no-js {
    .tooltip-toggle,
    .tooltip {
      .footnote-link {
        @layer rules {
          display: inline;
        }
      }
    }
    .tooltip-toggle {
      --text-decoration-style: solid;
    }
    .tooltip {
      --tooltip-display: block;
      --tooltip-background-color: canvas;
      --tooltip-text-color: canvasText;
      --tooltip-padding-inline: 0;
      --tooltip-padding-block: 0;
      --tooltip-margin-inline: 0;
      --tooltip-margin-block: 0;
      --tooltip-border-width: 0;

      @layer rules {
        text-align: unset;
        position: relative;
        padding-inline: var(--tooltip-padding-inline);
        padding-block: var(--tooltip-padding-block);
        margin-inline: var(--tooltip-pmargininline);
        margin-block: var(--tooltip-margin-block);
        inset: unset;
        transform: unset;

        &:before,
        &:after {
          content: none;
        }
      }
    }
  }

  .tooltip-toggle {
    --_background-color: var(--tooltip-toggle-background-color, transparent);
    --_text-decoration: var(--tooltip-toggle-text-decoration, underline);
    --_text-decoration-style: var(--tooltip-toggle-text-decoration, dashed);
    --_text-underline-offset: var(--tooltip-toggle-text-underline-offset, 0.75ex);
    --_cursor: var(--tooltip-toggle-cursor, help);

    @layer rules {
      anchor-name: --tooltip-toggle;
      background-color: var(--_background-color);
      text-decoration: underline;
      text-decoration-style: dashed;
      text-underline-offset: 0.75ex;
      position: relative;
      cursor: help;
    }

    @layer states {
      &:hover {
        --tooltip-toggle-background-color: var(--grayscale-lighter);
      }
    }

    @layer themes {
      @media (prefers-color-scheme: dark) {
        &:hover {
          --tooltip-toggle-background-color: var(--grayscale-dark);
        }
      }
    }
  }

  .tooltip {
    --_padding-inline: var(--tooltip-padding-inline, #{map.get($TOKENS, tooltip-padding-inline)});
    --_padding-block: var(--tooltip-padding-block, #{map.get($TOKENS, tooltip-padding-block)});
    --_background-color: var(--tooltip-background-color, #{map.get($TOKENS, tooltip-background-color)});
    --_text-color: var(--tooltip-text-color, #{map.get($TOKENS, tooltip-text-color)});
    --_border-color: var(--tooltip-border-color, #{map.get($TOKENS, tooltip-border-color)});
    --_border-radius: var(--tooltip-border-radius, #{map.get($TOKENS, tooltip-border-radius)});
    --_border-width: var(--tooltip-border-width, 5px);
    --_marker-height: var(--tooltip-marker-height, #{map.get($TOKENS, tooltip-marker-height)});
    --_marker-width: var(--tooltip-marker-width, var(--spacer-md));
    --_max-width: var(--tooltip-max-width, 50ch);
    --_display: var(--tooltip-display, none);
    --_shadow: var(--tooltip-shadow, var(--shadow-3xl));

    @layer rules {
      padding-inline: var(--_padding-inline);
      padding-block: var(--_padding-block);
      border-radius: var(--_border-radius);
      background-color: var(--_background-color);
      color: var(--_text-color);
      border-color: var(--_border-color);
      border-width: var(--_border-width);
      justify-content: center;
      text-align: center;
      min-width: anchor-size(inline);
      max-width: var(--_max-width);
      overflow: visible;
      position: relative;
      display: var(--_display);
      box-shadow: var(--_shadow);

      &[popover] {
        &::before,
        &::after {
          content: '';
          position: fixed;
          background: var(--_background-color);
          inset-inline: anchor(auto-same);
          width: var(--_marker-width);
          max-height: var(--_marker-height);
          margin-inline: auto;
          transform: translateY(10px);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }

        @supports (anchor-name: --foo) {
          anchor-name: --popover;
          inset-inline: calc(anchor(50%) - min(abs(0% - anchor(50%)), abs(100% - anchor(50%))));
          margin-inline: auto;
          inset-block-end: max(anchor(auto), anchor(--tooltip-toggle auto));
          margin-block-end: 0.5rem;
        }

        @supports (anchor-name: --foo) {
          &::before,
          &::after {
            @supports (anchor-default) {
              anchor-default: --tooltip-toggle;
            }
          }

          &::before {
            inset-block-start: calc(anchor(auto));
            inset-block-end: calc(anchor(--popover auto));
            transform: translateY(17px);
          }
          &::after {
            inset-block-start: calc(anchor(--popover auto) - 0.65em);
            inset-block-end: calc(anchor(auto));
            clip-path: polygon(50% 100%, 4% 0, 100% 0);
          }
        }
      }

      &:not([popover]) {
        position: absolute;
        width: fit-content;
        inset-inline: -50%;
        inset-block-start: 0;
        transform: translateY(calc((100% + var(--spacer-xs)) * -1));
        margin-inline: auto;
        margin-block-end: var(--spacer-md);
        text-wrap: balance;

        &::after {
          content: '';
          width: var(--_marker-width);
          height: var(--_marker-height);
          aspect-ratio: 16/9;
          position: absolute;
          inset-block-end: calc(var(--spacer-2xs) * -1 + 1px);
          background-color: var(--tooltip-background-color);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
        }
      }
    }

    @layer states {
      &.open,
      &:popover-open {
        --tooltip-display: flex;
      }
    }
  }

  .tooltip-toggle,
  .tooltip {
    @layer rules {
      .footnote-link {
        display: none;
      }
    }
  }
}
