@layer components {
  .tooltip {
    --_translate-x: 0;
    --_translate-y: 0;
    --_height: 0;

    --_padding-x: var(--tooltip-padding-inline, var(--spacer-xs));
    --_padding-y: var(--tooltip-padding-block, var(--spacer-3xs));
    --_background-color: var(--tooltip-background-color, canvasText);
    --_text-color: var(--tooltip-text-color, canvas);
    --_outline-color: var(--tooltip-outline-color, transparent);
    --_border-color: var(--tooltip-border-color, transparent);
    --_border-radius: var(--tooltip-border-radius, 0.25rem);
    --_marker-height: var(--tooltip-marker-height, var(--spacer-2xs));

    @layer rules {
      inset-inline-start: calc(var(--_translate-x) - 0.75rem);
      inset-block-start: calc(var(--_translate-y) - var(--_height) - 3.5em);
      background-color: var(--_background-color);
      color: var(--_text-color);
      position: absolute;
      padding-inline: var(--_padding-x);
      padding-block: var(--_padding-y);
      overflow: visible;
      border-color: var(--_border-color);
      border-radius: var(--_border-radius);
      justify-content: center;

      &::before {
        content: '';
        height: var(--_marker-height);
        aspect-ratio: 16/9;
        background: canvasText;
        position: absolute;
        bottom: calc(var(--_marker-height) * -1);
        clip-path: polygon(50% 100%, 0 0, 100% 0);
      }
    }

    @layer states {
      &.open,
      &:popover-open {
        display: flex;
      }
    }
  }
}
