@layer components {
  @layer rules;
  *:has(> .card) {
    --container-name: card;
  }
  .card {
    --_background-color: var(--card-background-color, transparent);
    --_border-color: var(--card-border-color, var(--grayscale-lighter));
    --_border-style: var(--card-border-style, solid);
    --_border-width: var(--card-border-width, 1px);
    --_margin-x: var(--card-margin-inline, var(--spacer-xs));
    --_flow-space: var(--card-flow-space, var(--spacer-xs));
  }
  @layer rules {
    .card {
      display: grid;
      background-color: var(--_background-color);
      border: var(--_border-width) var(--_border-color) var(--_border-style);
    }
    .card *:not(figure, img) {
      margin-inline: var(--_margin-x);
      margin-block-start: var(--_flow-space);
    }
    .card *:not(figure, img):last-child {
      margin-block-end: var(--_flow-space);
    }
    .card *:not(figure, img) figure,
    .card *:not(figure, img) img {
      margin: var(--spacer-none);
      padding: var(--space-none);
      width: 100%;
      height: auto;
    }
    .card *:not(figure, img) figure > image {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
@layer components {
  @layer rules, states;
  .message {
    --_color: var(--message-color, var(--message-default-darken-300));
    --_background-color: var(--message-background-color, var(--message-default));
    --_padding-x: var(--message-padding-inline, var(--spacer-2xs));
    --_padding-y: var(--message-padding-block, var(--spacer-xs));
    --_border-color: var(--message-border-color, var(--message-default));
    --_border-width: var(--message-border-width, 5px);
    --_border-style: var(--message-border-style, solid);
  }
  @layer rules {
    .message {
      color: var(--_color);
      background: color-mix(in lab, var(--_background-color), var(--grayscale-white) 90%);
      padding-inline: var(--_padding-x);
      padding-block: var(--_padding-y);
      border-left: var(--_border-width) var(--_border-color) var(--_border-style);
    }
  }
  @layer states {
    .message.default {
      --message-color: var(--message-default);
      --message-background-color: var(--message-default);
      --message-border-color: var(--message-default);
    }
    .message.info {
      --message-color: var(--message-info);
      --message-background-color: var(--message-info);
      --message-border-color: var(--message-info);
    }
    .message.warning {
      --message-color: var(--message-warning);
      --message-background-color: var(--message-warning);
      --message-border-color: var(--message-warning);
    }
    .message.success {
      --message-color: var(--message-success);
      --message-background-color: var(--message-success);
      --message-border-color: var(--message-success);
    }
    .message.error {
      --message-color: var(--message-error);
      --message-background-color: var(--message-error);
      --message-border-color: var(--message-error);
    }
  }
}

/*# sourceMappingURL=index.css.map */
