@use 'sass:map';

$CONTAINER_CONFIG: (
  MAX_WIDTH: 80ch,
) !default;

@layer utilities {
  .container {
    --_max-width: var(--container-max-width, #{map.get($CONTAINER_CONFIG, MAX_WIDTH)});

    > *:not(.full-bleed) {
      width: min(100%, var(--_max-width));
      margin-inline: auto;
    }
  }
}
