$CONTAINER_MAX_WIDTH: 80ch !default;

@layer utilities {
  .container {
    --_max-width: var(--container-max-width, #{$CONTAINER_MAX_WIDTH});

    > *:not(.full-bleed) {
      width: min(100%, var(--_max-width));
      margin-inline: auto;
    }
  }
}
