@use 'sass:map';

$CONTAINER_QUERY_CONFIG: (
  NAME: wrapper,
  COMPONENT_LIST: (
    'accordion',
    'button',
    'card',
    'drawer',
    'message',
    'modal',
    'skip-link',
    'tabs',
    'tooltip',
  ),
) !default;

@layer utilities {
  .cq-wrapper {
    --_name: var(--container-name, #{map.get($CONTAINER_QUERY_CONFIG, NAME)});

    @supports (container-type: inline-size) {
      container-type: inline-size;
      container-name: var(--_name);

      @each $component in map.get($CONTAINER_QUERY_CONFIG, COMPONENT_LIST) {
        &:has(.#{$component}) {
          --container-name: #{$component};
        }
      }
    }
  }
}
