$CONTAINER_NAME: wrapper !default;

@layer utilities {
  .cq-wrapper {
    --_name: var(--container-name, #{$CONTAINER_NAME});

    @supports (container-type: inline-size) {
      container-type: inline-size;
      container-name: var(--_name);
    }
  }
}
