@use 'sass:map';
@use 'sass:meta';

$DIMENTIONS: (
  AXIS: (
    'height',
    'width',
  ),
  INFO: (
    'height': (
      'h': '%',
      'vh': 'vh',
    ),
    'width': (
      'w': '%',
      'vw': 'vw',
    ),
  ),
  STEP: 10,
) !default;

@layer utilities {
  @each $dimension in map.get($DIMENTIONS, AXIS) {
    @each $prefix, $unit in map.get(map.get($DIMENTIONS, INFO), $dimension) {
      @for $i from 1 through map.get($DIMENTIONS, STEP) {
        .#{$prefix}-#{$i * map.get($DIMENTIONS, STEP)} {
          #{$dimension}: #{$i * map.get($DIMENTIONS, STEP)}#{$unit};
        }
      }
    }
  }

  .w-fit-content {
    width: fit-content;
  }
}
