@use 'sass:map';
@use '../tokens/tokens' as tokens;

$FLOW: (
  SPACERS: (
    '2xs': #{tokens.$utility-spacer-2xs},
    'xs': #{tokens.$utility-spacer-xs},
    'sm': #{tokens.$utility-spacer-sm},
    'md': #{tokens.$utility-spacer-md},
    'lg': #{tokens.$utility-spacer-lg},
    'xl': #{tokens.$utility-spacer-xl},
    '2xl': #{tokens.$utility-spacer-2xl},
    '3xl': #{tokens.$utility-spacer-3xl},
  ),
) !default;

@layer utilities {
  .flow {
    --_flow-spacer: var(--flow-spacer, #{tokens.$utility-spacer-md});

    > * + *:not(.drawer, .modal) {
      margin-block-start: var(--_flow-spacer);
    }
  }

  @each $spacer, $value in map.get($FLOW, SPACERS) {
    .flow-#{$spacer} {
      --flow-spacer: #{$value};
    }
  }
}
