@use 'sass:map';

$OVERFLOW: (
  TYPES: (
    'visible',
    'hidden',
    'clip',
    'scroll',
    'auto',
  ),
  DIRECTIONS: (
    'x',
    'y',
  ),
) !default;

@layer utilities {
  @each $type in map.get($OVERFLOW, TYPES) {
    .overflow-#{$type} {
      overflow: #{$type};
    }
    @each $direction in map.get($OVERFLOW, DIRETIONS) {
      .overflow-#{$direction}-#{$type} {
        overflow-#{$direction}: #{$type};
      }
    }
  }
}
