@use 'sass:meta';
@use 'sass:string';
@use '../tokens/tokens' as tokens;
@use '../functions' as functions;

$SPACER_PREFIX: 'spacer' !default;
$SPACER_TOKENS: functions.getList(meta.module-variables('tokens'), $SPACER_PREFIX);

@layer utilities {
  @each $spacer in $SPACER_TOKENS {
    $types: (
      'p': 'padding',
      'm': 'margin',
    );

    @each $prefix, $typeProperty in $types {
      .#{$prefix}-#{$spacer} {
        #{$typeProperty}: var(--#{$spacer});
      }

      $directions: (
        'x': 'inline',
        'y': 'block',
        'x-start': 'inline-start',
        'x-end': 'inline-end',
        'y-start': 'block-start',
        'y-end': 'block-end',
      );

      @each $direction, $directionProperty in $directions {
        .#{$prefix}#{$direction}-#{$spacer} {
          #{$typeProperty}-#{$directionProperty}: var(--#{$spacer});
        }
      }
    }
  }
}
