@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';
@use '../tokens/tokens' as tokens;
@use '../functions' as functions;

$FONT_SIZE_PREFIX: 'util-text' !default;
$FONT_SIZE_TOKENS: functions.getList(meta.module-variables('tokens'), $FONT_SIZE_PREFIX);

@layer utilities {
  @each $fontSize in $FONT_SIZE_TOKENS {
    .#{$fontSize} {
      font-size: #{map.get(meta.module-variables('tokens'), $fontSize)};
    }
  }

  // Text Alignment

  $alignments: (left, center, right, justify);

  @each $alignment in $alignments {
    .text-#{$alignment} {
      text-align: $alignment;
    }
  }
}
