@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';
@use '../tokens/tokens' as tokens;
@use '../functions' as functions;

$FONT_CONFIG: (
  SIZE: 18px,
  PREFIX: 'util-text',
  TOKENS: functions.getList(meta.module-variables('tokens'), 'util-text'),
) !default;

@layer globals {
  html {
    --_accent-color: var(--body-color-accent, #{tokens.$body-color-accent});
    font-size: map.get($FONT_CONFIG, SIZE);
    accent-color: var(--_accent-color);
    color-scheme: var(--body-theme, dark light);

    &:has(body.light) {
      --body-theme: light;
    }

    &:has(body.dark) {
      --body-theme: dark;
    }

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  form {
    --_flow-space: var(--form-flow-space, #{tokens.$util-spacer-xs});
    display: grid;
    & > * + * {
      margin-block-start: var(--_flow-space);
    }

    & > * + *:last-child {
      margin-block-end: var(--_flow-space);
    }
  }

  @layer typography {
    body {
      --_text-color: var(--body-color-base, #{tokens.$body-color-base});
      --_text-color-inverse: var(--body-color-inverse-base, #{tokens.$body-color-inverse-base});
      --_font-family: var(--body-font-family, #{tokens.$body-font-family});
      --_font-size: var(--body-font-size, #{tokens.$body-font-size});
      --_background-color: var(--body-background-color, #{tokens.$body-background-color});
      --_scroll-offset: var(--body-scroll-offset, #{tokens.$body-scroll-offset});

      font-family: var(--_font-family);
      font-size: var(--_font-size);
      color: var(--_text-color);
      background-color: var(--_background-color);
      scroll-margin-block-start: var(--_scroll-offset);

      @media (prefers-color-scheme: dark) {
        --_text-color: #{tokens.$color-inverse-base};
        --_background-color: #{tokens.$color-base};
      }

      &.dark {
        --_text-color: #{tokens.$color-inverse-base};
        --_background-color: #{tokens.$color-base};
      }

      &.light {
        --_text-color: #{tokens.$color-base};
        --_background-color: #{tokens.$color-inverse-base};
      }
    }

    $headings: (
      'h6': #{tokens.$util-text-xs},
      'h5': #{tokens.$util-text-md},
      'h4': #{tokens.$util-text-lg},
      'h3': #{tokens.$util-text-xl},
      'h2': #{tokens.$util-text-2xl},
      'h1': #{tokens.$util-text-3xl},
    );

    @each $heading, $value in $headings {
      #{$heading} {
        font-size: $value;
      }
    }

    a {
      --_text-color: var(--body-link-color, #{tokens.$color-link-default});

      color: var(--_text-color);

      &:focus {
        --body-link-color: #{tokens.$color-link-focus};
        outline-color: var(--_accent-color);
      }

      &:active {
        --body-link-color: #{tokens.$color-link-active};
      }

      @media (prefers-color-scheme: dark) {
        --body-link-color: #{tokens.$color-inverse-base};

        &:focus,
        &:active {
          --body-link-color: #{tokens.$color-inverse-base};
        }
      }
    }
  }
}
