@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';
@use '../tokens/tokens' as tokens;
@use '../functions' as functions;

// Stores all tokens
$TOKENS: meta.module-variables('tokens') !default;

// Sets maximum amount of color shades
$DEFAULT_MAX_COLORS: 5 !default;

// Sets maximum amount of columns
$MAX_COLUMNS: 12 !default;

// Breakpoint targets
$BREAKPOINTS: (
  'mobile': '640px',
  'tablet': '768px',
  'lg-tablet': '1024px',
  'laptop': '1240px',
) !default;

// Spacer Settings
$SPACER_PREFIX: 'utility-spacer' !default;
$SPACER_TOKENS: functions.getList(meta.module-variables('tokens'), $SPACER_PREFIX);
$SPACERS: (
  '2xs': #{tokens.$utility-spacer-2xs},
  'xs': #{tokens.$utility-spacer-xs},
  'sm': #{tokens.$utility-spacer-sm},
  'md': #{tokens.$utility-spacer-md},
  'lg': #{tokens.$utility-spacer-lg},
  'xl': #{tokens.$utility-spacer-xl},
  '2xl': #{tokens.$utility-spacer-2xl},
  '3xl': #{tokens.$utility-spacer-3xl},
) !default;
$SPACER_TYPES: (
  'p': 'padding',
  'm': 'margin',
);

// Possible user interface states
$STATES: ('default', 'info', 'warning', 'success', 'error') !default;

// Typography settings
$FONT_SIZE: 18px !default;
$FONT_SIZE_PREFIX: 'utility-text' !default;
$FONT_SIZE_TOKENS: functions.getList(meta.module-variables('tokens'), $FONT_SIZE_PREFIX);

// Default container query name
$CONTAINER_NAME: wrapper !default;

// Container maximum width value
$CONTAINER_MAX_WIDTH: 80ch !default;

// List of components
$COMPONENTS: ('accordion', 'button', 'card', 'drawer', 'message', 'modal', 'skip-link', 'tabs', 'tooltip');

// Utility settings
$DIMENSIONS: ('height', 'width') !default;
$DIRECTIONS: ('inline', 'block') !default;

$OVERFLOW_TYPES: ('visible', 'hidden', 'clip', 'scroll', 'auto') !default;

$SHADOW_PREFIX: 'shadow' !default;
$SHADOW_TOKENS: functions.getList(meta.module-variables('tokens'), $SHADOW_PREFIX);