@layer reset, globals, components, theme, utilities;
@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :where([hidden]:not([hidden=until-found])) {
    display: none !important;
  }
  :where(html) {
    -webkit-text-size-adjust: none;
    color-scheme: dark light;
    tab-size: 2;
  }
  @media (prefers-reduced-motion: no-preference) {
    :where(html:focus-within) {
      scroll-behavior: smooth;
    }
  }
  :where(body) {
    line-height: 1.5;
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  :where(button) {
    all: unset;
  }
  :where(input, button, textarea, select) {
    font: inherit;
    color: inherit;
  }
  :where(textarea) {
    resize: vertical;
    resize: block;
  }
  :where(button, label, select, summary, [role=button], [role=option]) {
    cursor: pointer;
  }
  :where(:disabled) {
    cursor: not-allowed;
  }
  :where(label:has(> input:disabled), label:has(+ input:disabled)) {
    cursor: not-allowed;
  }
  :where(a) {
    color: inherit;
    text-underline-offset: 0.2ex;
  }
  :where(ul, ol) {
    list-style: none;
  }
  :where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
  }
  :where(img, picture, svg, video) {
    max-inline-size: 100%;
    block-size: auto;
  }
  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }
  :where(h1, h2, h3) {
    line-height: calc(1em + 0.5rem);
    text-wrap: balance;
  }
  :where(hr) {
    border: none;
    border-block-start: 1px solid;
    color: inherit;
    block-size: 0;
    overflow: visible;
  }
  :where(:focus-visible) {
    outline: 3px solid CanvasText;
    box-shadow: 0 0 0 5px Canvas;
    outline-offset: 1px;
  }
  :where(:focus-visible, :target) {
    scroll-margin-block: 8vh;
  }
  :where(.visually-hidden:not(:focus-within, :active)) {
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
@layer globals {
  @layer typography {
    html {
      font-size: 18px;
    }
    body {
      --_text-color: var(--body-color-base, #111111);
      --_text-color-inverse: var(--body-color-inverse-base, #ffffff);
      --_font-family: var(--body-font-family, system-ui);
      --_font-size: var(--body-font-size, clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem));
      font-family: var(--_font-family);
      font-size: var(--_font-size);
      color: var(--_text-color);
    }
    @media (prefers-color-scheme: dark) {
      body {
        color: var(--_text-color-inverse);
      }
    }
    h6 {
      font-size: var(--text-xs, clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem));
    }
    h5 {
      font-size: var(--text-md, clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem));
    }
    h4 {
      font-size: var(--text-lg, clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem));
    }
    h3 {
      font-size: var(--text-xl, clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem));
    }
    h2 {
      font-size: var(--text-2xl, clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem));
    }
    h1 {
      font-size: var(--text-3xl, clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem));
    }
  }
}
@layer components {
  @layer rules;
  *:has(> .card) {
    --container-name: card;
  }
  .card {
    --_background-color: var(--card-background-color, transparent);
    --_border-color: var(--card-border-color, var(--grayscale-lighter));
    --_border-style: var(--card-border-style, solid);
    --_border-width: var(--card-border-width, 1px);
    --_margin-x: var(--card-margin-inline, var(--spacer-xs));
    --_flow-space: var(--card-flow-space, var(--spacer-xs));
  }
  @layer rules {
    .card {
      display: grid;
      background-color: var(--_background-color);
      border: var(--_border-width) var(--_border-color) var(--_border-style);
    }
    .card *:not(figure, img) {
      margin-inline: var(--_margin-x);
      margin-block-start: var(--_flow-space);
    }
    .card *:not(figure, img):last-child {
      margin-block-end: var(--_flow-space);
    }
    .card *:not(figure, img) figure,
    .card *:not(figure, img) img {
      margin: var(--spacer-none);
      padding: var(--space-none);
      width: 100%;
      height: auto;
    }
    .card *:not(figure, img) figure > image {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
@layer components {
  @layer rules, states;
  .message {
    --_color: var(--message-color, var(--message-default-darken-300));
    --_background-color: var(--message-background-color, var(--message-default));
    --_padding-x: var(--message-padding-inline, var(--spacer-2xs));
    --_padding-y: var(--message-padding-block, var(--spacer-xs));
    --_border-color: var(--message-border-color, var(--message-default));
    --_border-width: var(--message-border-width, 5px);
    --_border-style: var(--message-border-style, solid);
  }
  @layer rules {
    .message {
      color: var(--_color);
      background: color-mix(in lab, var(--_background-color), var(--grayscale-white) 90%);
      padding-inline: var(--_padding-x);
      padding-block: var(--_padding-y);
      border-left: var(--_border-width) var(--_border-color) var(--_border-style);
    }
  }
  @layer states {
    .message.default {
      --message-color: var(--message-default);
      --message-background-color: var(--message-default);
      --message-border-color: var(--message-default);
    }
    .message.info {
      --message-color: var(--message-info);
      --message-background-color: var(--message-info);
      --message-border-color: var(--message-info);
    }
    .message.warning {
      --message-color: var(--message-warning);
      --message-background-color: var(--message-warning);
      --message-border-color: var(--message-warning);
    }
    .message.success {
      --message-color: var(--message-success);
      --message-background-color: var(--message-success);
      --message-border-color: var(--message-success);
    }
    .message.error {
      --message-color: var(--message-error);
      --message-background-color: var(--message-error);
      --message-border-color: var(--message-error);
    }
  }
}
@layer theme {
  :root {
    --color-base: #111111;
    --color-secondary: #333333;
    --color-tertiary: #666666;
    --color-inverse-base: #ffffff;
    --swatch-navy: #003f70;
    --swatch-skyblue: #91b9dc;
    --swatch-lightblue: #e5f5ff;
    --swatch-med-blue: #3f7bad;
    --swatch-beige: #ecd7b1;
    --swatch-peach: #dfa278;
    --swatch-salmon: #e58967;
    --swatch-brown: #866657;
    --swatch-orange: #f48418;
    --grayscale-white: #ffffff;
    --grayscale-lighter: #efefef;
    --grayscale-light: #999999;
    --grayscale-base: #666666;
    --grayscale-dark: #333333;
    --grayscale-black: #000000;
    --message-default: #666666;
    --message-success: #2a6538;
    --message-info: #006eb2;
    --message-warning: #876600;
    --message-error: #ad1c00;
    --spacer-none: 0;
    --spacer-auto: auto;
    --spacer-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --spacer-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --spacer-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --spacer-md: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --spacer-lg: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --spacer-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --spacer-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --spacer-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
    --text-2xs: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --text-xs: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --text-md: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --text-lg: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --text-xl: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --text-2xl: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
    --text-3xl: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
    --text-4xl: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);
  }
}
@layer utilities {
  .text-color-base {
    color: var(--color-base);
  }
  .background-color-base {
    background: var(--color-base);
  }
  .border-color-base {
    border-color: var(--color-base);
  }
  .text-color-secondary {
    color: var(--color-secondary);
  }
  .background-color-secondary {
    background: var(--color-secondary);
  }
  .border-color-secondary {
    border-color: var(--color-secondary);
  }
  .text-color-tertiary {
    color: var(--color-tertiary);
  }
  .background-color-tertiary {
    background: var(--color-tertiary);
  }
  .border-color-tertiary {
    border-color: var(--color-tertiary);
  }
  .text-color-inverse-base {
    color: var(--color-inverse-base);
  }
  .background-color-inverse-base {
    background: var(--color-inverse-base);
  }
  .border-color-inverse-base {
    border-color: var(--color-inverse-base);
  }
  .text-swatch-navy {
    color: var(--swatch-navy);
  }
  .background-swatch-navy {
    background: var(--swatch-navy);
  }
  .border-swatch-navy {
    border-color: var(--swatch-navy);
  }
  .text-swatch-skyblue {
    color: var(--swatch-skyblue);
  }
  .background-swatch-skyblue {
    background: var(--swatch-skyblue);
  }
  .border-swatch-skyblue {
    border-color: var(--swatch-skyblue);
  }
  .text-swatch-lightblue {
    color: var(--swatch-lightblue);
  }
  .background-swatch-lightblue {
    background: var(--swatch-lightblue);
  }
  .border-swatch-lightblue {
    border-color: var(--swatch-lightblue);
  }
  .text-swatch-med-blue {
    color: var(--swatch-med-blue);
  }
  .background-swatch-med-blue {
    background: var(--swatch-med-blue);
  }
  .border-swatch-med-blue {
    border-color: var(--swatch-med-blue);
  }
  .text-swatch-beige {
    color: var(--swatch-beige);
  }
  .background-swatch-beige {
    background: var(--swatch-beige);
  }
  .border-swatch-beige {
    border-color: var(--swatch-beige);
  }
  .text-swatch-peach {
    color: var(--swatch-peach);
  }
  .background-swatch-peach {
    background: var(--swatch-peach);
  }
  .border-swatch-peach {
    border-color: var(--swatch-peach);
  }
  .text-swatch-salmon {
    color: var(--swatch-salmon);
  }
  .background-swatch-salmon {
    background: var(--swatch-salmon);
  }
  .border-swatch-salmon {
    border-color: var(--swatch-salmon);
  }
  .text-swatch-brown {
    color: var(--swatch-brown);
  }
  .background-swatch-brown {
    background: var(--swatch-brown);
  }
  .border-swatch-brown {
    border-color: var(--swatch-brown);
  }
  .text-swatch-orange {
    color: var(--swatch-orange);
  }
  .background-swatch-orange {
    background: var(--swatch-orange);
  }
  .border-swatch-orange {
    border-color: var(--swatch-orange);
  }
  .text-grayscale-white {
    color: var(--grayscale-white);
  }
  .background-grayscale-white {
    background: var(--grayscale-white);
  }
  .border-grayscale-white {
    border-color: var(--grayscale-white);
  }
  .text-grayscale-lighter {
    color: var(--grayscale-lighter);
  }
  .background-grayscale-lighter {
    background: var(--grayscale-lighter);
  }
  .border-grayscale-lighter {
    border-color: var(--grayscale-lighter);
  }
  .text-grayscale-light {
    color: var(--grayscale-light);
  }
  .background-grayscale-light {
    background: var(--grayscale-light);
  }
  .border-grayscale-light {
    border-color: var(--grayscale-light);
  }
  .text-grayscale-base {
    color: var(--grayscale-base);
  }
  .background-grayscale-base {
    background: var(--grayscale-base);
  }
  .border-grayscale-base {
    border-color: var(--grayscale-base);
  }
  .text-grayscale-dark {
    color: var(--grayscale-dark);
  }
  .background-grayscale-dark {
    background: var(--grayscale-dark);
  }
  .border-grayscale-dark {
    border-color: var(--grayscale-dark);
  }
  .text-grayscale-black {
    color: var(--grayscale-black);
  }
  .background-grayscale-black {
    background: var(--grayscale-black);
  }
  .border-grayscale-black {
    border-color: var(--grayscale-black);
  }
  .text-message-default {
    color: var(--message-default);
  }
  .background-message-default {
    background: var(--message-default);
  }
  .border-message-default {
    border-color: var(--message-default);
  }
  .text-message-success {
    color: var(--message-success);
  }
  .background-message-success {
    background: var(--message-success);
  }
  .border-message-success {
    border-color: var(--message-success);
  }
  .text-message-info {
    color: var(--message-info);
  }
  .background-message-info {
    background: var(--message-info);
  }
  .border-message-info {
    border-color: var(--message-info);
  }
  .text-message-warning {
    color: var(--message-warning);
  }
  .background-message-warning {
    background: var(--message-warning);
  }
  .border-message-warning {
    border-color: var(--message-warning);
  }
  .text-message-error {
    color: var(--message-error);
  }
  .background-message-error {
    background: var(--message-error);
  }
  .border-message-error {
    border-color: var(--message-error);
  }
}
@layer utilities {
  .container {
    --_max-width: var(--container-max-width, 80ch);
    width: min(100%, var(--_max-width));
    margin-inline: auto;
  }
}
@layer utilities {
  .cq-wrapper {
    --_name: var(--container-name, wrapper);
  }
  @supports (container-type: inline-size) {
    .cq-wrapper {
      container-type: inline-size;
      container-name: var(--_name);
    }
  }
}
@layer utilities {
  .h-10 {
    height: 10%;
  }
  .h-20 {
    height: 20%;
  }
  .h-30 {
    height: 30%;
  }
  .h-40 {
    height: 40%;
  }
  .h-50 {
    height: 50%;
  }
  .h-60 {
    height: 60%;
  }
  .h-70 {
    height: 70%;
  }
  .h-80 {
    height: 80%;
  }
  .h-90 {
    height: 90%;
  }
  .h-100 {
    height: 100%;
  }
  .vh-10 {
    height: 10vh;
  }
  .vh-20 {
    height: 20vh;
  }
  .vh-30 {
    height: 30vh;
  }
  .vh-40 {
    height: 40vh;
  }
  .vh-50 {
    height: 50vh;
  }
  .vh-60 {
    height: 60vh;
  }
  .vh-70 {
    height: 70vh;
  }
  .vh-80 {
    height: 80vh;
  }
  .vh-90 {
    height: 90vh;
  }
  .vh-100 {
    height: 100vh;
  }
  .w-10 {
    width: 10%;
  }
  .w-20 {
    width: 20%;
  }
  .w-30 {
    width: 30%;
  }
  .w-40 {
    width: 40%;
  }
  .w-50 {
    width: 50%;
  }
  .w-60 {
    width: 60%;
  }
  .w-70 {
    width: 70%;
  }
  .w-80 {
    width: 80%;
  }
  .w-90 {
    width: 90%;
  }
  .w-100 {
    width: 100%;
  }
  .vw-10 {
    width: 10vw;
  }
  .vw-20 {
    width: 20vw;
  }
  .vw-30 {
    width: 30vw;
  }
  .vw-40 {
    width: 40vw;
  }
  .vw-50 {
    width: 50vw;
  }
  .vw-60 {
    width: 60vw;
  }
  .vw-70 {
    width: 70vw;
  }
  .vw-80 {
    width: 80vw;
  }
  .vw-90 {
    width: 90vw;
  }
  .vw-100 {
    width: 100vw;
  }
  .w-fit-content {
    width: fit-content;
  }
}
@layer utilities {
  .flow {
    --_flow-spacer: var(--flow-spacer, var(--spacer-md));
  }
  .flow > * + * {
    margin-block-start: var(--_flow-spacer);
  }
  .flow-3xs {
    --flow-spacer: var(--spacer-3xs);
  }
  .flow-2xs {
    --flow-spacer: var(--spacer-2xs);
  }
  .flow-sm {
    --flow-spacer: var(--spacer-sm);
  }
  .flow-md {
    --flow-spacer: var(--spacer-md);
  }
  .flow-lg {
    --flow-spacer: var(--spacer-lg);
  }
  .flow-xl {
    --flow-spacer: var(--spacer-xl);
  }
  .flow-2xl {
    --flow-spacer: var(--spacer-2xl);
  }
  .flow-3xl {
    --flow-spacer: var(--spacer-3xl);
  }
}
@layer utilities {
  .grid {
    --_columns: 1;
    --_column-gap: 0;
    --_row-gap: 0;
    --_gap: var(--grid-row-gap, var(--_row-gap)) var(--grid-column-gap, var(--_column-gap));
    container-name: grid-container;
    container-type: inline-size;
    display: block grid;
    grid-template-columns: repeat(var(--grid-columns, var(--_columns)), 1fr);
    gap: var(--grid-gap, var(--_gap));
  }
  .grid-1 {
    --grid-columns: 1;
  }
  .grid-2 {
    --grid-columns: 2;
  }
  .grid-3 {
    --grid-columns: 3;
  }
  .grid-4 {
    --grid-columns: 4;
  }
  .grid-5 {
    --grid-columns: 5;
  }
  .grid-6 {
    --grid-columns: 6;
  }
  .grid-7 {
    --grid-columns: 7;
  }
  .grid-8 {
    --grid-columns: 8;
  }
  .grid-9 {
    --grid-columns: 9;
  }
  .grid-10 {
    --grid-columns: 10;
  }
  .grid-11 {
    --grid-columns: 11;
  }
  .grid-12 {
    --grid-columns: 12;
  }
  @media (min-width: 640px) {
    .grid-1\:mobile {
      --grid-columns: 1;
    }
    .grid-2\:mobile {
      --grid-columns: 2;
    }
    .grid-3\:mobile {
      --grid-columns: 3;
    }
    .grid-4\:mobile {
      --grid-columns: 4;
    }
    .grid-5\:mobile {
      --grid-columns: 5;
    }
    .grid-6\:mobile {
      --grid-columns: 6;
    }
    .grid-7\:mobile {
      --grid-columns: 7;
    }
    .grid-8\:mobile {
      --grid-columns: 8;
    }
    .grid-9\:mobile {
      --grid-columns: 9;
    }
    .grid-10\:mobile {
      --grid-columns: 10;
    }
    .grid-11\:mobile {
      --grid-columns: 11;
    }
    .grid-12\:mobile {
      --grid-columns: 12;
    }
  }
  @media (min-width: 768px) {
    .grid-1\:tablet {
      --grid-columns: 1;
    }
    .grid-2\:tablet {
      --grid-columns: 2;
    }
    .grid-3\:tablet {
      --grid-columns: 3;
    }
    .grid-4\:tablet {
      --grid-columns: 4;
    }
    .grid-5\:tablet {
      --grid-columns: 5;
    }
    .grid-6\:tablet {
      --grid-columns: 6;
    }
    .grid-7\:tablet {
      --grid-columns: 7;
    }
    .grid-8\:tablet {
      --grid-columns: 8;
    }
    .grid-9\:tablet {
      --grid-columns: 9;
    }
    .grid-10\:tablet {
      --grid-columns: 10;
    }
    .grid-11\:tablet {
      --grid-columns: 11;
    }
    .grid-12\:tablet {
      --grid-columns: 12;
    }
  }
  @media (min-width: 1024px) {
    .grid-1\:lg-tablet {
      --grid-columns: 1;
    }
    .grid-2\:lg-tablet {
      --grid-columns: 2;
    }
    .grid-3\:lg-tablet {
      --grid-columns: 3;
    }
    .grid-4\:lg-tablet {
      --grid-columns: 4;
    }
    .grid-5\:lg-tablet {
      --grid-columns: 5;
    }
    .grid-6\:lg-tablet {
      --grid-columns: 6;
    }
    .grid-7\:lg-tablet {
      --grid-columns: 7;
    }
    .grid-8\:lg-tablet {
      --grid-columns: 8;
    }
    .grid-9\:lg-tablet {
      --grid-columns: 9;
    }
    .grid-10\:lg-tablet {
      --grid-columns: 10;
    }
    .grid-11\:lg-tablet {
      --grid-columns: 11;
    }
    .grid-12\:lg-tablet {
      --grid-columns: 12;
    }
  }
  @media (min-width: 1240px) {
    .grid-1\:laptop {
      --grid-columns: 1;
    }
    .grid-2\:laptop {
      --grid-columns: 2;
    }
    .grid-3\:laptop {
      --grid-columns: 3;
    }
    .grid-4\:laptop {
      --grid-columns: 4;
    }
    .grid-5\:laptop {
      --grid-columns: 5;
    }
    .grid-6\:laptop {
      --grid-columns: 6;
    }
    .grid-7\:laptop {
      --grid-columns: 7;
    }
    .grid-8\:laptop {
      --grid-columns: 8;
    }
    .grid-9\:laptop {
      --grid-columns: 9;
    }
    .grid-10\:laptop {
      --grid-columns: 10;
    }
    .grid-11\:laptop {
      --grid-columns: 11;
    }
    .grid-12\:laptop {
      --grid-columns: 12;
    }
  }
  [class^=block] {
    grid-column: span var(--grid-column-span, var(--_column-span));
  }
  .block-1 {
    --grid-column-span: 1;
  }
  .block-2 {
    --grid-column-span: 2;
  }
  .block-3 {
    --grid-column-span: 3;
  }
  .block-4 {
    --grid-column-span: 4;
  }
  .block-5 {
    --grid-column-span: 5;
  }
  .block-6 {
    --grid-column-span: 6;
  }
  .block-7 {
    --grid-column-span: 7;
  }
  .block-8 {
    --grid-column-span: 8;
  }
  .block-9 {
    --grid-column-span: 9;
  }
  .block-10 {
    --grid-column-span: 10;
  }
  .block-11 {
    --grid-column-span: 11;
  }
  .block-12 {
    --grid-column-span: 12;
  }
  @media (min-width: 640px) {
    .block-1\:mobile {
      --grid-column-span: 1;
    }
    .block-2\:mobile {
      --grid-column-span: 2;
    }
    .block-3\:mobile {
      --grid-column-span: 3;
    }
    .block-4\:mobile {
      --grid-column-span: 4;
    }
    .block-5\:mobile {
      --grid-column-span: 5;
    }
    .block-6\:mobile {
      --grid-column-span: 6;
    }
    .block-7\:mobile {
      --grid-column-span: 7;
    }
    .block-8\:mobile {
      --grid-column-span: 8;
    }
    .block-9\:mobile {
      --grid-column-span: 9;
    }
    .block-10\:mobile {
      --grid-column-span: 10;
    }
    .block-11\:mobile {
      --grid-column-span: 11;
    }
    .block-12\:mobile {
      --grid-column-span: 12;
    }
  }
  @media (min-width: 768px) {
    .block-1\:tablet {
      --grid-column-span: 1;
    }
    .block-2\:tablet {
      --grid-column-span: 2;
    }
    .block-3\:tablet {
      --grid-column-span: 3;
    }
    .block-4\:tablet {
      --grid-column-span: 4;
    }
    .block-5\:tablet {
      --grid-column-span: 5;
    }
    .block-6\:tablet {
      --grid-column-span: 6;
    }
    .block-7\:tablet {
      --grid-column-span: 7;
    }
    .block-8\:tablet {
      --grid-column-span: 8;
    }
    .block-9\:tablet {
      --grid-column-span: 9;
    }
    .block-10\:tablet {
      --grid-column-span: 10;
    }
    .block-11\:tablet {
      --grid-column-span: 11;
    }
    .block-12\:tablet {
      --grid-column-span: 12;
    }
  }
  @media (min-width: 1024px) {
    .block-1\:lg-tablet {
      --grid-column-span: 1;
    }
    .block-2\:lg-tablet {
      --grid-column-span: 2;
    }
    .block-3\:lg-tablet {
      --grid-column-span: 3;
    }
    .block-4\:lg-tablet {
      --grid-column-span: 4;
    }
    .block-5\:lg-tablet {
      --grid-column-span: 5;
    }
    .block-6\:lg-tablet {
      --grid-column-span: 6;
    }
    .block-7\:lg-tablet {
      --grid-column-span: 7;
    }
    .block-8\:lg-tablet {
      --grid-column-span: 8;
    }
    .block-9\:lg-tablet {
      --grid-column-span: 9;
    }
    .block-10\:lg-tablet {
      --grid-column-span: 10;
    }
    .block-11\:lg-tablet {
      --grid-column-span: 11;
    }
    .block-12\:lg-tablet {
      --grid-column-span: 12;
    }
  }
  @media (min-width: 1240px) {
    .block-1\:laptop {
      --grid-column-span: 1;
    }
    .block-2\:laptop {
      --grid-column-span: 2;
    }
    .block-3\:laptop {
      --grid-column-span: 3;
    }
    .block-4\:laptop {
      --grid-column-span: 4;
    }
    .block-5\:laptop {
      --grid-column-span: 5;
    }
    .block-6\:laptop {
      --grid-column-span: 6;
    }
    .block-7\:laptop {
      --grid-column-span: 7;
    }
    .block-8\:laptop {
      --grid-column-span: 8;
    }
    .block-9\:laptop {
      --grid-column-span: 9;
    }
    .block-10\:laptop {
      --grid-column-span: 10;
    }
    .block-11\:laptop {
      --grid-column-span: 11;
    }
    .block-12\:laptop {
      --grid-column-span: 12;
    }
  }
  .gap-3xs {
    --grid-gap: var(--spacer-3xs);
  }
  .gap-row-3xs {
    --grid-row-gap: var(--spacer-3xs);
  }
  .gap-column-3xs {
    --grid-row-gap: var(--spacer-3xs);
  }
  .gap-2xs {
    --grid-gap: var(--spacer-2xs);
  }
  .gap-row-2xs {
    --grid-row-gap: var(--spacer-2xs);
  }
  .gap-column-2xs {
    --grid-row-gap: var(--spacer-2xs);
  }
  .gap-sm {
    --grid-gap: var(--spacer-sm);
  }
  .gap-row-sm {
    --grid-row-gap: var(--spacer-sm);
  }
  .gap-column-sm {
    --grid-row-gap: var(--spacer-sm);
  }
  .gap-md {
    --grid-gap: var(--spacer-md);
  }
  .gap-row-md {
    --grid-row-gap: var(--spacer-md);
  }
  .gap-column-md {
    --grid-row-gap: var(--spacer-md);
  }
  .gap-lg {
    --grid-gap: var(--spacer-lg);
  }
  .gap-row-lg {
    --grid-row-gap: var(--spacer-lg);
  }
  .gap-column-lg {
    --grid-row-gap: var(--spacer-lg);
  }
  .gap-xl {
    --grid-gap: var(--spacer-xl);
  }
  .gap-row-xl {
    --grid-row-gap: var(--spacer-xl);
  }
  .gap-column-xl {
    --grid-row-gap: var(--spacer-xl);
  }
  .gap-2xl {
    --grid-gap: var(--spacer-2xl);
  }
  .gap-row-2xl {
    --grid-row-gap: var(--spacer-2xl);
  }
  .gap-column-2xl {
    --grid-row-gap: var(--spacer-2xl);
  }
  .gap-3xl {
    --grid-gap: var(--spacer-3xl);
  }
  .gap-row-3xl {
    --grid-row-gap: var(--spacer-3xl);
  }
  .gap-column-3xl {
    --grid-row-gap: var(--spacer-3xl);
  }
  @media (min-width: 640px) {
    .gap-3xs\:mobile {
      --grid-gap: var(--spacer-3xs);
    }
    .gap-row-3xs\:mobile {
      --grid-row-gap: var(--spacer-3xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-3xs\:mobile {
      --grid-column-gap: var(--spacer-3xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-2xs\:mobile {
      --grid-gap: var(--spacer-2xs);
    }
    .gap-row-2xs\:mobile {
      --grid-row-gap: var(--spacer-2xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-2xs\:mobile {
      --grid-column-gap: var(--spacer-2xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-sm\:mobile {
      --grid-gap: var(--spacer-sm);
    }
    .gap-row-sm\:mobile {
      --grid-row-gap: var(--spacer-sm);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-sm\:mobile {
      --grid-column-gap: var(--spacer-sm);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-md\:mobile {
      --grid-gap: var(--spacer-md);
    }
    .gap-row-md\:mobile {
      --grid-row-gap: var(--spacer-md);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-md\:mobile {
      --grid-column-gap: var(--spacer-md);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-lg\:mobile {
      --grid-gap: var(--spacer-lg);
    }
    .gap-row-lg\:mobile {
      --grid-row-gap: var(--spacer-lg);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-lg\:mobile {
      --grid-column-gap: var(--spacer-lg);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-xl\:mobile {
      --grid-gap: var(--spacer-xl);
    }
    .gap-row-xl\:mobile {
      --grid-row-gap: var(--spacer-xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-xl\:mobile {
      --grid-column-gap: var(--spacer-xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-2xl\:mobile {
      --grid-gap: var(--spacer-2xl);
    }
    .gap-row-2xl\:mobile {
      --grid-row-gap: var(--spacer-2xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-2xl\:mobile {
      --grid-column-gap: var(--spacer-2xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-3xl\:mobile {
      --grid-gap: var(--spacer-3xl);
    }
    .gap-row-3xl\:mobile {
      --grid-row-gap: var(--spacer-3xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-3xl\:mobile {
      --grid-column-gap: var(--spacer-3xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
  }
  @media (min-width: 768px) {
    .gap-3xs\:tablet {
      --grid-gap: var(--spacer-3xs);
    }
    .gap-row-3xs\:tablet {
      --grid-row-gap: var(--spacer-3xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-3xs\:tablet {
      --grid-column-gap: var(--spacer-3xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-2xs\:tablet {
      --grid-gap: var(--spacer-2xs);
    }
    .gap-row-2xs\:tablet {
      --grid-row-gap: var(--spacer-2xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-2xs\:tablet {
      --grid-column-gap: var(--spacer-2xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-sm\:tablet {
      --grid-gap: var(--spacer-sm);
    }
    .gap-row-sm\:tablet {
      --grid-row-gap: var(--spacer-sm);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-sm\:tablet {
      --grid-column-gap: var(--spacer-sm);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-md\:tablet {
      --grid-gap: var(--spacer-md);
    }
    .gap-row-md\:tablet {
      --grid-row-gap: var(--spacer-md);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-md\:tablet {
      --grid-column-gap: var(--spacer-md);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-lg\:tablet {
      --grid-gap: var(--spacer-lg);
    }
    .gap-row-lg\:tablet {
      --grid-row-gap: var(--spacer-lg);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-lg\:tablet {
      --grid-column-gap: var(--spacer-lg);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-xl\:tablet {
      --grid-gap: var(--spacer-xl);
    }
    .gap-row-xl\:tablet {
      --grid-row-gap: var(--spacer-xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-xl\:tablet {
      --grid-column-gap: var(--spacer-xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-2xl\:tablet {
      --grid-gap: var(--spacer-2xl);
    }
    .gap-row-2xl\:tablet {
      --grid-row-gap: var(--spacer-2xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-2xl\:tablet {
      --grid-column-gap: var(--spacer-2xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-3xl\:tablet {
      --grid-gap: var(--spacer-3xl);
    }
    .gap-row-3xl\:tablet {
      --grid-row-gap: var(--spacer-3xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-3xl\:tablet {
      --grid-column-gap: var(--spacer-3xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
  }
  @media (min-width: 1024px) {
    .gap-3xs\:lg-tablet {
      --grid-gap: var(--spacer-3xs);
    }
    .gap-row-3xs\:lg-tablet {
      --grid-row-gap: var(--spacer-3xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-3xs\:lg-tablet {
      --grid-column-gap: var(--spacer-3xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-2xs\:lg-tablet {
      --grid-gap: var(--spacer-2xs);
    }
    .gap-row-2xs\:lg-tablet {
      --grid-row-gap: var(--spacer-2xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-2xs\:lg-tablet {
      --grid-column-gap: var(--spacer-2xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-sm\:lg-tablet {
      --grid-gap: var(--spacer-sm);
    }
    .gap-row-sm\:lg-tablet {
      --grid-row-gap: var(--spacer-sm);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-sm\:lg-tablet {
      --grid-column-gap: var(--spacer-sm);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-md\:lg-tablet {
      --grid-gap: var(--spacer-md);
    }
    .gap-row-md\:lg-tablet {
      --grid-row-gap: var(--spacer-md);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-md\:lg-tablet {
      --grid-column-gap: var(--spacer-md);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-lg\:lg-tablet {
      --grid-gap: var(--spacer-lg);
    }
    .gap-row-lg\:lg-tablet {
      --grid-row-gap: var(--spacer-lg);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-lg\:lg-tablet {
      --grid-column-gap: var(--spacer-lg);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-xl\:lg-tablet {
      --grid-gap: var(--spacer-xl);
    }
    .gap-row-xl\:lg-tablet {
      --grid-row-gap: var(--spacer-xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-xl\:lg-tablet {
      --grid-column-gap: var(--spacer-xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-2xl\:lg-tablet {
      --grid-gap: var(--spacer-2xl);
    }
    .gap-row-2xl\:lg-tablet {
      --grid-row-gap: var(--spacer-2xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-2xl\:lg-tablet {
      --grid-column-gap: var(--spacer-2xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-3xl\:lg-tablet {
      --grid-gap: var(--spacer-3xl);
    }
    .gap-row-3xl\:lg-tablet {
      --grid-row-gap: var(--spacer-3xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-3xl\:lg-tablet {
      --grid-column-gap: var(--spacer-3xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
  }
  @media (min-width: 1240px) {
    .gap-3xs\:laptop {
      --grid-gap: var(--spacer-3xs);
    }
    .gap-row-3xs\:laptop {
      --grid-row-gap: var(--spacer-3xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-3xs\:laptop {
      --grid-column-gap: var(--spacer-3xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-2xs\:laptop {
      --grid-gap: var(--spacer-2xs);
    }
    .gap-row-2xs\:laptop {
      --grid-row-gap: var(--spacer-2xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-2xs\:laptop {
      --grid-column-gap: var(--spacer-2xs);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-sm\:laptop {
      --grid-gap: var(--spacer-sm);
    }
    .gap-row-sm\:laptop {
      --grid-row-gap: var(--spacer-sm);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-sm\:laptop {
      --grid-column-gap: var(--spacer-sm);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-md\:laptop {
      --grid-gap: var(--spacer-md);
    }
    .gap-row-md\:laptop {
      --grid-row-gap: var(--spacer-md);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-md\:laptop {
      --grid-column-gap: var(--spacer-md);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-lg\:laptop {
      --grid-gap: var(--spacer-lg);
    }
    .gap-row-lg\:laptop {
      --grid-row-gap: var(--spacer-lg);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-lg\:laptop {
      --grid-column-gap: var(--spacer-lg);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-xl\:laptop {
      --grid-gap: var(--spacer-xl);
    }
    .gap-row-xl\:laptop {
      --grid-row-gap: var(--spacer-xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-xl\:laptop {
      --grid-column-gap: var(--spacer-xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-2xl\:laptop {
      --grid-gap: var(--spacer-2xl);
    }
    .gap-row-2xl\:laptop {
      --grid-row-gap: var(--spacer-2xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-2xl\:laptop {
      --grid-column-gap: var(--spacer-2xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-3xl\:laptop {
      --grid-gap: var(--spacer-3xl);
    }
    .gap-row-3xl\:laptop {
      --grid-row-gap: var(--spacer-3xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
    .gap-column-3xl\:laptop {
      --grid-column-gap: var(--spacer-3xl);
      --grid-gap: var(--grid-row-gap) var(--grid-column-gap);
    }
  }
  .auto-grid {
    --_min: var(--grid-column-min, 15ch);
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--_min)), 1fr));
  }
  .grid-stack {
    grid-template-areas: "stack";
  }
  .grid-stack > * {
    grid-area: stack;
  }
  .grid-center {
    display: grid;
    place-content: center;
  }
  .grid-align-center {
    display: grid;
    align-items: center;
  }
  .grid-justify-center {
    display: grid;
    justify-content: center;
  }
}
@layer utilities {
  .overflow-visible {
    overflow: visible;
  }
  .overflow-x-visible {
    overflow-x: visible;
  }
  .overflow-y-visible {
    overflow-y: visible;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  .overflow-y-hidden {
    overflow-y: hidden;
  }
  .overflow-clip {
    overflow: clip;
  }
  .overflow-x-clip {
    overflow-x: clip;
  }
  .overflow-y-clip {
    overflow-y: clip;
  }
  .overflow-scroll {
    overflow: scroll;
  }
  .overflow-x-scroll {
    overflow-x: scroll;
  }
  .overflow-y-scroll {
    overflow-y: scroll;
  }
  .overflow-auto {
    overflow: auto;
  }
  .overflow-x-auto {
    overflow-x: auto;
  }
  .overflow-y-auto {
    overflow-y: auto;
  }
}
@layer utilities {
  .p-spacer-none {
    padding: var(--spacer-none);
  }
  .px-spacer-none {
    padding-inline: var(--spacer-none);
  }
  .py-spacer-none {
    padding-block: var(--spacer-none);
  }
  .px-start-spacer-none {
    padding-inline-start: var(--spacer-none);
  }
  .px-end-spacer-none {
    padding-inline-end: var(--spacer-none);
  }
  .py-start-spacer-none {
    padding-block-start: var(--spacer-none);
  }
  .py-end-spacer-none {
    padding-block-end: var(--spacer-none);
  }
  .m-spacer-none {
    margin: var(--spacer-none);
  }
  .mx-spacer-none {
    margin-inline: var(--spacer-none);
  }
  .my-spacer-none {
    margin-block: var(--spacer-none);
  }
  .mx-start-spacer-none {
    margin-inline-start: var(--spacer-none);
  }
  .mx-end-spacer-none {
    margin-inline-end: var(--spacer-none);
  }
  .my-start-spacer-none {
    margin-block-start: var(--spacer-none);
  }
  .my-end-spacer-none {
    margin-block-end: var(--spacer-none);
  }
  .p-spacer-auto {
    padding: var(--spacer-auto);
  }
  .px-spacer-auto {
    padding-inline: var(--spacer-auto);
  }
  .py-spacer-auto {
    padding-block: var(--spacer-auto);
  }
  .px-start-spacer-auto {
    padding-inline-start: var(--spacer-auto);
  }
  .px-end-spacer-auto {
    padding-inline-end: var(--spacer-auto);
  }
  .py-start-spacer-auto {
    padding-block-start: var(--spacer-auto);
  }
  .py-end-spacer-auto {
    padding-block-end: var(--spacer-auto);
  }
  .m-spacer-auto {
    margin: var(--spacer-auto);
  }
  .mx-spacer-auto {
    margin-inline: var(--spacer-auto);
  }
  .my-spacer-auto {
    margin-block: var(--spacer-auto);
  }
  .mx-start-spacer-auto {
    margin-inline-start: var(--spacer-auto);
  }
  .mx-end-spacer-auto {
    margin-inline-end: var(--spacer-auto);
  }
  .my-start-spacer-auto {
    margin-block-start: var(--spacer-auto);
  }
  .my-end-spacer-auto {
    margin-block-end: var(--spacer-auto);
  }
  .p-spacer-3xs {
    padding: var(--spacer-3xs);
  }
  .px-spacer-3xs {
    padding-inline: var(--spacer-3xs);
  }
  .py-spacer-3xs {
    padding-block: var(--spacer-3xs);
  }
  .px-start-spacer-3xs {
    padding-inline-start: var(--spacer-3xs);
  }
  .px-end-spacer-3xs {
    padding-inline-end: var(--spacer-3xs);
  }
  .py-start-spacer-3xs {
    padding-block-start: var(--spacer-3xs);
  }
  .py-end-spacer-3xs {
    padding-block-end: var(--spacer-3xs);
  }
  .m-spacer-3xs {
    margin: var(--spacer-3xs);
  }
  .mx-spacer-3xs {
    margin-inline: var(--spacer-3xs);
  }
  .my-spacer-3xs {
    margin-block: var(--spacer-3xs);
  }
  .mx-start-spacer-3xs {
    margin-inline-start: var(--spacer-3xs);
  }
  .mx-end-spacer-3xs {
    margin-inline-end: var(--spacer-3xs);
  }
  .my-start-spacer-3xs {
    margin-block-start: var(--spacer-3xs);
  }
  .my-end-spacer-3xs {
    margin-block-end: var(--spacer-3xs);
  }
  .p-spacer-2xs {
    padding: var(--spacer-2xs);
  }
  .px-spacer-2xs {
    padding-inline: var(--spacer-2xs);
  }
  .py-spacer-2xs {
    padding-block: var(--spacer-2xs);
  }
  .px-start-spacer-2xs {
    padding-inline-start: var(--spacer-2xs);
  }
  .px-end-spacer-2xs {
    padding-inline-end: var(--spacer-2xs);
  }
  .py-start-spacer-2xs {
    padding-block-start: var(--spacer-2xs);
  }
  .py-end-spacer-2xs {
    padding-block-end: var(--spacer-2xs);
  }
  .m-spacer-2xs {
    margin: var(--spacer-2xs);
  }
  .mx-spacer-2xs {
    margin-inline: var(--spacer-2xs);
  }
  .my-spacer-2xs {
    margin-block: var(--spacer-2xs);
  }
  .mx-start-spacer-2xs {
    margin-inline-start: var(--spacer-2xs);
  }
  .mx-end-spacer-2xs {
    margin-inline-end: var(--spacer-2xs);
  }
  .my-start-spacer-2xs {
    margin-block-start: var(--spacer-2xs);
  }
  .my-end-spacer-2xs {
    margin-block-end: var(--spacer-2xs);
  }
  .p-spacer-xs {
    padding: var(--spacer-xs);
  }
  .px-spacer-xs {
    padding-inline: var(--spacer-xs);
  }
  .py-spacer-xs {
    padding-block: var(--spacer-xs);
  }
  .px-start-spacer-xs {
    padding-inline-start: var(--spacer-xs);
  }
  .px-end-spacer-xs {
    padding-inline-end: var(--spacer-xs);
  }
  .py-start-spacer-xs {
    padding-block-start: var(--spacer-xs);
  }
  .py-end-spacer-xs {
    padding-block-end: var(--spacer-xs);
  }
  .m-spacer-xs {
    margin: var(--spacer-xs);
  }
  .mx-spacer-xs {
    margin-inline: var(--spacer-xs);
  }
  .my-spacer-xs {
    margin-block: var(--spacer-xs);
  }
  .mx-start-spacer-xs {
    margin-inline-start: var(--spacer-xs);
  }
  .mx-end-spacer-xs {
    margin-inline-end: var(--spacer-xs);
  }
  .my-start-spacer-xs {
    margin-block-start: var(--spacer-xs);
  }
  .my-end-spacer-xs {
    margin-block-end: var(--spacer-xs);
  }
  .p-spacer-md {
    padding: var(--spacer-md);
  }
  .px-spacer-md {
    padding-inline: var(--spacer-md);
  }
  .py-spacer-md {
    padding-block: var(--spacer-md);
  }
  .px-start-spacer-md {
    padding-inline-start: var(--spacer-md);
  }
  .px-end-spacer-md {
    padding-inline-end: var(--spacer-md);
  }
  .py-start-spacer-md {
    padding-block-start: var(--spacer-md);
  }
  .py-end-spacer-md {
    padding-block-end: var(--spacer-md);
  }
  .m-spacer-md {
    margin: var(--spacer-md);
  }
  .mx-spacer-md {
    margin-inline: var(--spacer-md);
  }
  .my-spacer-md {
    margin-block: var(--spacer-md);
  }
  .mx-start-spacer-md {
    margin-inline-start: var(--spacer-md);
  }
  .mx-end-spacer-md {
    margin-inline-end: var(--spacer-md);
  }
  .my-start-spacer-md {
    margin-block-start: var(--spacer-md);
  }
  .my-end-spacer-md {
    margin-block-end: var(--spacer-md);
  }
  .p-spacer-lg {
    padding: var(--spacer-lg);
  }
  .px-spacer-lg {
    padding-inline: var(--spacer-lg);
  }
  .py-spacer-lg {
    padding-block: var(--spacer-lg);
  }
  .px-start-spacer-lg {
    padding-inline-start: var(--spacer-lg);
  }
  .px-end-spacer-lg {
    padding-inline-end: var(--spacer-lg);
  }
  .py-start-spacer-lg {
    padding-block-start: var(--spacer-lg);
  }
  .py-end-spacer-lg {
    padding-block-end: var(--spacer-lg);
  }
  .m-spacer-lg {
    margin: var(--spacer-lg);
  }
  .mx-spacer-lg {
    margin-inline: var(--spacer-lg);
  }
  .my-spacer-lg {
    margin-block: var(--spacer-lg);
  }
  .mx-start-spacer-lg {
    margin-inline-start: var(--spacer-lg);
  }
  .mx-end-spacer-lg {
    margin-inline-end: var(--spacer-lg);
  }
  .my-start-spacer-lg {
    margin-block-start: var(--spacer-lg);
  }
  .my-end-spacer-lg {
    margin-block-end: var(--spacer-lg);
  }
  .p-spacer-xl {
    padding: var(--spacer-xl);
  }
  .px-spacer-xl {
    padding-inline: var(--spacer-xl);
  }
  .py-spacer-xl {
    padding-block: var(--spacer-xl);
  }
  .px-start-spacer-xl {
    padding-inline-start: var(--spacer-xl);
  }
  .px-end-spacer-xl {
    padding-inline-end: var(--spacer-xl);
  }
  .py-start-spacer-xl {
    padding-block-start: var(--spacer-xl);
  }
  .py-end-spacer-xl {
    padding-block-end: var(--spacer-xl);
  }
  .m-spacer-xl {
    margin: var(--spacer-xl);
  }
  .mx-spacer-xl {
    margin-inline: var(--spacer-xl);
  }
  .my-spacer-xl {
    margin-block: var(--spacer-xl);
  }
  .mx-start-spacer-xl {
    margin-inline-start: var(--spacer-xl);
  }
  .mx-end-spacer-xl {
    margin-inline-end: var(--spacer-xl);
  }
  .my-start-spacer-xl {
    margin-block-start: var(--spacer-xl);
  }
  .my-end-spacer-xl {
    margin-block-end: var(--spacer-xl);
  }
  .p-spacer-2xl {
    padding: var(--spacer-2xl);
  }
  .px-spacer-2xl {
    padding-inline: var(--spacer-2xl);
  }
  .py-spacer-2xl {
    padding-block: var(--spacer-2xl);
  }
  .px-start-spacer-2xl {
    padding-inline-start: var(--spacer-2xl);
  }
  .px-end-spacer-2xl {
    padding-inline-end: var(--spacer-2xl);
  }
  .py-start-spacer-2xl {
    padding-block-start: var(--spacer-2xl);
  }
  .py-end-spacer-2xl {
    padding-block-end: var(--spacer-2xl);
  }
  .m-spacer-2xl {
    margin: var(--spacer-2xl);
  }
  .mx-spacer-2xl {
    margin-inline: var(--spacer-2xl);
  }
  .my-spacer-2xl {
    margin-block: var(--spacer-2xl);
  }
  .mx-start-spacer-2xl {
    margin-inline-start: var(--spacer-2xl);
  }
  .mx-end-spacer-2xl {
    margin-inline-end: var(--spacer-2xl);
  }
  .my-start-spacer-2xl {
    margin-block-start: var(--spacer-2xl);
  }
  .my-end-spacer-2xl {
    margin-block-end: var(--spacer-2xl);
  }
  .p-spacer-3xl {
    padding: var(--spacer-3xl);
  }
  .px-spacer-3xl {
    padding-inline: var(--spacer-3xl);
  }
  .py-spacer-3xl {
    padding-block: var(--spacer-3xl);
  }
  .px-start-spacer-3xl {
    padding-inline-start: var(--spacer-3xl);
  }
  .px-end-spacer-3xl {
    padding-inline-end: var(--spacer-3xl);
  }
  .py-start-spacer-3xl {
    padding-block-start: var(--spacer-3xl);
  }
  .py-end-spacer-3xl {
    padding-block-end: var(--spacer-3xl);
  }
  .m-spacer-3xl {
    margin: var(--spacer-3xl);
  }
  .mx-spacer-3xl {
    margin-inline: var(--spacer-3xl);
  }
  .my-spacer-3xl {
    margin-block: var(--spacer-3xl);
  }
  .mx-start-spacer-3xl {
    margin-inline-start: var(--spacer-3xl);
  }
  .mx-end-spacer-3xl {
    margin-inline-end: var(--spacer-3xl);
  }
  .my-start-spacer-3xl {
    margin-block-start: var(--spacer-3xl);
  }
  .my-end-spacer-3xl {
    margin-block-end: var(--spacer-3xl);
  }
}

/*# sourceMappingURL=style.css.map */
