@use "sass:meta";
@use "sass:map";
@use "sass:string";
@use "../tokens/tokens" as tokens;
@use "../functions" as functions;

$FONT_SIZE_PREFIX: "font-size" !default;
$FONT_SIZE_TOKENS: functions.getList(
  meta.module-variables("tokens"),
  $FONT_SIZE_PREFIX
);

@layer globals {
  @layer typography {
    html {
      font-size: 18px;
    }

    body {
      --_text-color: var(--body-color-base, #{tokens.$color-base});
      --_text-color-inverse: var(
        --body-color-inverse-base,
        #{tokens.$color-inverse-base}
      );
      --_font-family: var(--body-font-family, system-ui);
      --_font-size: var(--body-font-size, #{tokens.$font-size-xs});

      font-family: var(--_font-family);
      font-size: var(--_font-size);
      color: var(--_text-color);

      @media (prefers-color-scheme: dark) {
        color: var(--_text-color-inverse);
      }
    }

    $headings: (
      "h6": var(--font-size-xs),
      "h5": var(--font-size-md),
      "h4": var(--font-size-lg),
      "h3": var(--font-size-xl),
      "h2": var(--font-size-2xl),
      "h1": var(--font-size-3xl),
    );

    @each $heading, $value in $headings {
      #{$heading} {
        font-size: $value;
      }
    }
  }
}
