@use '../tokens/tokens' as tokens;

@layer globals {
  @layer typography {
    .icon {
      display: inline;
      max-width: fit-content;
      height: 1em;
      aspect-ratio: 1;
    }

    .icon-size-2xs {
      height: #{tokens.$utility-text-2xs};
    }
    .icon-size-xs {
      height: #{tokens.$utility-text-xs};
    }
    .icon-size-md {
      height: #{tokens.$utility-text-md};
    }
    .icon-size-lg {
      height: #{tokens.$utility-text-lg};
    }
    .icon-size-xl {
      height: #{tokens.$utility-text-xl};
    }
    .icon-size-2xl {
      height: #{tokens.$utility-text-2xl};
    }
    .icon-size-3xl {
      height: #{tokens.$utility-text-3xl};
    }
    .icon-size-4xl {
      height: #{tokens.$utility-text-4xl};
    }
  }
}
