@layer globals {
  @layer icons {
    .icon {
      display: inline;
      max-width: fit-content;
      height: 1em;
      aspect-ratio: 1;
    }

    .icon-size-2xs {
      height: var(--font-size-2xs);
    }
    .icon-size-xs {
      height: var(--font-size-2xs);
    }
    .icon-size-md {
      height: var(--font-size-md);
    }
    .icon-size-lg {
      height: var(--font-size-lg);
    }
    .icon-size-xl {
      height: var(--font-size-xl);
    }
    .icon-size-2xl {
      height: var(--font-size-2xl);
    }
    .icon-size-3xl {
      height: var(--font-size-3xl);
    }
    .icon-size-4xl {
      height: var(--font-size-4xl);
    }
  }
}
