@use "sass:meta";
@use "sass:string";
@use "../tokens/tokens" as tokens;

@layer globals {
  @layer typography {
    html {
      font-size: 18px;
    }

    body {
      --_text-color: var(--body-color-base, #{tokens.$color-base});
      --_text-color-inverse: var(
        --body-color-inverse-base,
        #{tokens.$color-inverse-base}
      );
      --_font-family: var(--body-font-family, system-ui);
      --_font-size: var(--body-font-size, #{tokens.$text-xs});

      font-family: var(--_font-family);
      font-size: var(--_font-size);
      color: var(--_text-color);

      @media (prefers-color-scheme: dark) {
        color: var(--_text-color-inverse);
      }
    }

    $headings: (
      "h6": var(--text-xs, #{tokens.$text-xs}),
      "h5": var(--text-md, #{tokens.$text-md}),
      "h4": var(--text-lg, #{tokens.$text-lg}),
      "h3": var(--text-xl, #{tokens.$text-2xl}),
      "h2": var(--text-2xl, #{tokens.$text-3xl}),
      "h1": var(--text-3xl, #{tokens.$text-4xl}),
    );

    @each $heading, $value in $headings {
      #{$heading} {
        font-size: $value;
      }
    }
  }
}
